In [4]:
# задача 1

word = '111111111111111sy111111111111111'
t = len (word) // 2
if len(word) % 2 != 0:
    print(word[t])
else:
    print(word[t-1:t+1])
    
# мучал задачу полтора часа, уроки посмотрел два дня назад и уже все вылетело из головы.

sy

In [2]:
#задача 2 Тоже мучал долго, зашел в slack группу, понял что делал правильно, но не могу сложить предыдущие числа

x = int(input('x = '))
y = x
while x != 0:
    x = int(input('x = '))
    y += x 
else:
    print('loading')
    print (f'Результат: {y}')

x = 2
x = 3
x = 4
x = 0
loading
Результат: 9

In [5]:
# Задача 3
boys = ['Peter', 'Alex', 'John', 'Ivan', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) == len(girls):
    boys_girls = zip(sorted(boys), sorted(girls)) 
    for para in list(boys_girls):
        print(para[0], 'и', para[1])
else:
    print('Внимание, кто-то может остаться без пары!')

Alex и Emma
Ivan и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [1]:
# Задача 4:
    
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]


for strana in countries_temperature:
    for temp in strana[1]:
            F = sum(strana[1]) / len(strana[1])
            C = round(((F - 32) / 1.8),1)
           
    print(strana[0],'-',C ,'C')

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

In [24]:
# Здача 5. Не успел допереть, как вытащить элемент без запятой.. если user или userview трехзначный
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]
print(','.join(stream))

print(stream[0][0])
for user in stream:
    userid = stream[0][11:16]
    userview = sum(stream[0][-1:-2])
    print(userid,userview)

2018-01-01,user1,3,2018-01-07,user1,4,2018-03-29,user1,1,2018-04-04,user1,13,2018-01-05,user2,7,2018-06-14,user3,4,2018-07-02,user3,10,2018-03-21,user4,19,2018-03-22,user4,4,2018-04-22,user4,8,2018-05-03,user4,9,2018-05-11,user4,11
['2018-01-01,user1,3', '2018-01-07,user1,4', '2018-03-29,user1,1', '2018-04-04,user1,13', '2018-01-05,user2,7', '2018-06-14,user3,4', '2018-07-02,user3,10', '2018-03-21,user4,19', '2018-03-22,user4,4', '2018-04-22,user4,8', '2018-05-03,user4,9', '2018-05-11,user4,11']
<class 'list'>
2
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0
user1 0