# Домашнее задание «Продвинутый pandas»

# Задание 1

In [6]:
import pandas as pd
data2 = pd.read_csv('visit_log.csv', sep=';')

In [7]:
data2.loc[data2.traffic_source.str.contains('yandex|google'), 'source_type'] = 'organic'
data2.loc[data2.traffic_source.str.contains('email|paid')&data2.region.str.contains('Russia'), 'source_type'] = 'ad'
data2.loc[data2.traffic_source.str.contains('email|paid')&~data2.region.str.contains('Russia'), 'source_type'] = 'other'  
data2.head()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,NaN
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic

# Задание 2

In [8]:
import pandas as pd
url_data = pd.read_csv('URLs.txt')
url_data.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [9]:
url_data[url_data.url.str.contains(r'/\d{8}-')].head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

# Задание 3

In [10]:
import pandas as pd
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [11]:
import nltk

import pandas as pd
from nltk.stem.snowball import SnowballStemmer

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = SnowballStemmer("russian")

def lemmatize_text(keyword):
    return [lemmatizer.stem(w) for w in w_tokenizer.tokenize(keyword)]


data['lemmas'] = data.keyword.apply(lemmatize_text)

In [12]:
data.head()

                 keyword   shows                  lemmas
0    курс гривны к рублю  125076  [курс, гривн, к, рубл]
1        доллары в рубли  114173       [доллар, в, рубл]
2  100 долларов в рублях   97534  [100, доллар, в, рубл]
3             курс рубля   53546            [курс, рубл]