# Домашнее задание «Библиотека Pandas»

# Задание 1

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('pandas movies/ratings.csv')

data.head(30)

data[ data['rating'] == 5.0 ]['movieId'].value_counts()

318       48762
296       37458
356       32009
260       31385
593       30280
          ...
116080        1
72537         1
82770         1
86864         1
152127        1
Name: movieId, Length: 24209, dtype: int64

In [4]:
datamov = pd.read_csv('pandas movies/movies.csv')
datamov[ datamov['movieId'] == 318 ]['title'].head()

315    Shawshank Redemption, The (1994)
Name: title, dtype: object

# Задание 2

In [5]:
data = pd.read_csv('power.csv')

filtred_countries = ((data['country']=='Lithuania') | (data['country']=='Latvia') | (data['country']=='Estonia'))

filtred_categories = ((data['category']==4) | (data['category']==12) | (data['category']==21))

filtred_years = ((data['year']==2005) | (data['year']==2006) | (data['year']==2007) | (data['year']==2008) | (data['year']==2009) | (data['year']==2010))

filtred_quanitity = (data['quantity'] > 0)

filtred_all = data[ filtred_countries & filtred_categories & filtred_years & filtred_quanitity ]


print('Суммарное потребление стран Прибалтики =', sum(filtred_all['quantity']))

Суммарное потребление стран Прибалтики = 240580.0

# Задание 3

In [8]:
page_url = 'http://mfd.ru/centrobank/preciousmetals/'


df = pd.read_html(page_url, attrs = {'class': 'mfd-table'}, encoding='utf-8')

In [9]:
df[0].head(10)

,Дата,Золото руб./грамм,Серебро руб./грамм,Платина руб./грамм,Палладий руб./грамм
0,02.12.2020,4407.43,54.35,2409.59,5889.01
1,01.12.2020,4341.07,56.68,2359.24,5889.52
2,28.11.2020,4409.74,56.97,2336.51,5829.09
3,27.11.2020,4402.52,56.79,2336.07,5732.24
4,26.11.2020,4388.45,56.19,2339.15,5670.73
5,25.11.2020,4431.61,58.27,2283.93,5689.11
6,24.11.2020,4539.73,58.86,2313.95,5687.45
7,21.11.2020,4562.65,58.60,2324.09,5706.37
8,20.11.2020,4554.16,59.62,2304.79,5678.60
9,19.11.2020,4582.44,60.12,2279.99,5712.18